<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is my blog</title>
    <link rel="stylesheet" href="../static/semantic.min.css" media="screen" title="no-title" charset="utf-8">
</head>
<body>
<ul>
    <div class="ui inverted segment">
        <h1 >This is title</h1>
    </div>

    <div class="ui container segment">
        <div>
            <h1 class="ui header">First Passage</h1>
            <p>
                this is a passage!
            </p>
            <button class="ui button">READ MORE</button>
        </div>
    </div>

    <div class="ui container segment">
        <div>
            <h1 class="ui header">First Passage</h1>
            <p>
                this is a passage!
            </p>
            <button class="ui button">READ MORE</button>
        </div>
    </div>

    <div class="ui container segment">
        <div>
            <h1 class="ui header">First Passage</h1>
            <p>
                this is a passage!
            </p>
            <button class="ui button">READ MORE</button>
        </div>
    </div>
</ul>
</body>
</html>